# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
package-lock.json

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
node_modules/
public/lib/
app/tests/coverage/
.idea/
coverage/
.coveralls.yml

# MEAN.js app and assets
# ======================
dist/
public/dist/
assets
uploads
modules/users/client/img/profile/uploads
config/env/local.js
config/env/local-*.js
*.pem

# Compiled less and sass files
# ============================
modules/*/client/scss/*.css
modules/*/client/less/*.css

# Files from style template
# ============================
public/stylesheets/css/
public/stylesheets/dist/
public/javascripts/lib/
public/javascripts/dist/
public/fonts/
public/img/


# Bower dependencies
# ============================
bower_components/

# Papaya template related
# ============================
views/mixins/


# Ignoring MEAN.JS's gh-pages branch for documenation
_site/

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# IntelliJ
# ========
*.iml

# Cloud9 IDE
# =========
.c9/
data/
mongod


